#Titanic - Machine Learning from Disaster

In [3]:
import pandas as pd
import numpy as np

In [9]:
!wget https://raw.githubusercontent.com/g-barbosa11/Titanic/main/dataset/test.csv
!wget https://raw.githubusercontent.com/g-barbosa11/Titanic/main/dataset/train.csv

--2021-11-14 18:43:11--  https://raw.githubusercontent.com/g-barbosa11/Titanic/main/dataset/test.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.111.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 28629 (28K) [text/plain]
Saving to: â€˜test.csv.1â€™

test.csv.1          100%[===================>]  27.96K  --.-KB/s    in 0s

2021-11-14 18:43:11 (112 MB/s) - â€˜test.csv.1â€™ saved [28629/28629]

--2021-11-14 18:43:11--  https://raw.githubusercontent.com/g-barbosa11/Titanic/main/dataset/train.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.111.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 61194 (60K) [text/plain]
Saving to: â€˜train.csvâ€™

train.csv           100%[===================>]  59.76K  --.-KB/s    in 0.001s

2021-11-14 18:43:11 (47.2 MB/s) - â€˜train.csvâ€™ saved [61194/61194]

In [11]:
test = pd.read_csv("test.csv")
train = pd.read_csv("train.csv")

In [12]:
train.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [21]:
def transformar_sexo(valor):
    if valor == 'female':
        return 1
    else:
        return 0

In [71]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

train['Sex_binario'] = train['Sex'].map(transformar_sexo)
test['Sex_binario'] = test['Sex'].map(transformar_sexo)

In [72]:
train['Embarked_S'] = (train['Embarked'] == 'S').astype(int)
train['Embarked_C'] = (train['Embarked'] == 'C').astype(int)
#train['Embarked_Q'] = (train['Embarked'] == 'Q').astype(int)

train['Cabine_nula'] = train['Cabin'].isnull().astype(int)

train['Nome_contem_Miss'] = train['Name'].str.contains("Miss").astype(int)
train['Nome_contem_Mrs'] = train['Name'].str.contains("Mrs").astype(int)

train['Nome_contem_Master'] = train['Name'].str.contains("Master").astype(int)
train['Nome_contem_Col'] = train['Name'].str.contains("Col").astype(int)
train['Nome_contem_Major'] = train['Name'].str.contains("Major").astype(int)
train['Nome_contem_Mr'] = train['Name'].str.contains("Mr").astype(int)

In [77]:
variables = ['Sex_binario', 'Age', 'Pclass', 'SibSp', 'Parch', 'Fare', 'Embarked_S', 'Embarked_C', 'Cabine_nula',
             'Nome_contem_Miss', 'Nome_contem_Mrs',
             'Nome_contem_Master', 'Nome_contem_Col', 'Nome_contem_Major', 'Nome_contem_Mr']

X = train[variables].fillna(-1)
y = train['Survived']
X.head()

   Sex_binario   Age  ...  Nome_contem_Major  Nome_contem_Mr
0            0  22.0  ...                  0               1
1            1  38.0  ...                  0               1
2            1  26.0  ...                  0               0
3            1  35.0  ...                  0               1
4            0  35.0  ...                  0               1

[5 rows x 15 columns]

In [ ]:
!pip install pycaret shap

In [39]:
from pycaret.classification import *

In [83]:
df = pd.concat([X, y], axis=1, join="inner")
cat_features = ['Sex_binario','Pclass','SibSp','Parch','Embarked_S','Embarked_C',
                'Cabine_nula','Nome_contem_Miss','Nome_contem_Mrs','Nome_contem_Master',
                'Nome_contem_Col','Nome_contem_Major','Nome_contem_Mr']
df.head()

   Sex_binario   Age  Pclass  ...  Nome_contem_Major  Nome_contem_Mr  Survived
0            0  22.0       3  ...                  0               1         0
1            1  38.0       1  ...                  0               1         1
2            1  26.0       3  ...                  0               0         1
3            1  35.0       1  ...                  0               1         1
4            0  35.0       3  ...                  0               1         0

[5 rows x 16 columns]

In [84]:
experiment = setup(df, target='Survived', categorical_features=cat_features )

                               Description             Value
0                               session_id              2190
1                                   Target          Survived
2                              Target Type            Binary
3                            Label Encoded              None
4                            Original Data         (891, 16)
5                           Missing Values             False
6                         Numeric Features                 2
7                     Categorical Features                13
8                         Ordinal Features             False
9                High Cardinality Features             False
10                 High Cardinality Method              None
11                   Transformed Train Set         (623, 29)
12                    Transformed Test Set         (268, 29)
13                      Shuffle Train-Test              True
14                     Stratify Train-Test             False
15                          Fold Generator   StratifiedKFold
16                             Fold Number                10
17                                CPU Jobs                -1
18                                 Use GPU             False
19                          Log Experiment             False
20                         Experiment Name  clf-default-name
21                                     USI              fc10
22                         Imputation Type            simple
23          Iterative Imputation Iteration              None
24                         Numeric Imputer              mean
25      Iterative Imputation Numeric Model              None
26                     Categorical Imputer          constant
27  Iterative Imputation Categorical Model              None
28           Unknown Categoricals Handling    least_frequent
29                               Normalize             False
30                        Normalize Method              None
31                          Transformation             False
32                   Transformation Method              None
33                                     PCA             False
34                              PCA Method              None
35                          PCA Components              None
36                     Ignore Low Variance             False
37                     Combine Rare Levels             False
38                    Rare Level Threshold              None
39                         Numeric Binning             False
40                         Remove Outliers             False
41                      Outliers Threshold              None
42                Remove Multicollinearity             False
43             Multicollinearity Threshold              None
44             Remove Perfect Collinearity              True
45                              Clustering             False
46                    Clustering Iteration              None
47                     Polynomial Features             False
48                       Polynomial Degree              None
49                    Trignometry Features             False
50                    Polynomial Threshold              None
51                          Group Features             False
52                       Feature Selection             False
53                Feature Selection Method           classic
54            Features Selection Threshold              None
55                     Feature Interaction             False
56                           Feature Ratio             False
57                   Interaction Threshold              None
58                           Fix Imbalance             False
59                    Fix Imbalance Method             SMOTE

## Comparing the performance of machine learning algorithms

In [85]:
best_model = compare_models()

,Model,Accuracy,AUC,Recall,Prec.,F1,Kappa,MCC,TT (Sec)
gbc,Gradient Boosting Classifier,0.8363,0.8557,0.7350,0.8230,0.7727,0.6458,0.6517,0.114
ridge,Ridge Classifier,0.8284,0.0000,0.7529,0.7966,0.7701,0.6339,0.6383,0.015
lightgbm,Light Gradient Boosting Machine,0.8282,0.8523,0.7348,0.8091,0.7654,0.6306,0.6367,0.085
lda,Linear Discriminant Analysis,0.8252,0.8602,0.7529,0.7894,0.7666,0.6274,0.6319,0.018
lr,Logistic Regression,0.8251,0.8646,0.7571,0.7900,0.7679,0.6283,0.6336,0.413
rf,Random Forest Classifier,0.8187,0.8465,0.7482,0.7839,0.7615,0.6157,0.6205,0.516
ada,Ada Boost Classifier,0.8123,0.8482,0.7611,0.7619,0.7553,0.6038,0.6099,0.108
et,Extra Trees Classifier,0.7946,0.8300,0.7440,0.7344,0.7352,0.5680,0.5720,0.469
dt,Decision Tree Classifier,0.7898,0.7753,0.7308,0.7339,0.7272,0.5568,0.5623,0.017
knn,K Neighbors Classifier,0.7029,0.7119,0.5203,0.6472,0.5727,0.3492,0.3565,0.122
svm,SVM - Linear Kernel,0.6615,0.0000,0.5942,0.5142,0.5082,0.2896,0.3283,0.016
nb,Naive Bayes,0.4301,0.8380,0.9875,0.4008,0.5699,0.0575,0.1468,0.016
qda,Quadratic Discriminant Analysis,0.4254,0.5305,0.9750,0.4004,0.5659,0.0507,0.1134,0.019

In [86]:
result = predict_model(best_model, df.tail())
result.head()

     Sex_binario   Age  Pclass  SibSp  ...  Nome_contem_Mr  Survived  Label   Score
886            0  27.0       2      0  ...               0         0      0  0.8301
887            1  19.0       1      0  ...               0         1      1  0.9566
888            1  -1.0       3      1  ...               0         0      0  0.6559
889            0  26.0       1      0  ...               1         1      1  0.5327
890            0  32.0       3      0  ...               1         0      0  0.8607

[5 rows x 18 columns]

In [69]:
np.mean(result['Score'])

0.7836000000000001